logs
*.log
npm-debug.log*
yarn-debug.log*
.eslintcache
/coverage
/dist
/example/dist
/example/node_modules
/local
/reports
/node_modules
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
